*{
  background-color: #1a1a1a;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.cart{
  border: 2px solid white;
  width: 300px;
  margin: 20px ;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.parent{
  padding: 10px;
  border: 2px solid red;
  border-radius: 10px;
  /* width: 400px; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 20px;
}

.cart img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

button{
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.cart p{
  margin: 10px;
}

